<html>
<head>
<title>IP Anemometer</title>

<link rel="stylesheet" type="text/css" href="ipa.css" />

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="ipa.js"></script>
<script type="text/javascript">

var ipaView = {};

ipaView.clearElement = function(element) {
  while (element.firstChild) {
    element.removeChild(element.firstChild);
  }
  return element;
}

ipaView.options = {};

ipaView.requestStats = function() {
  ipaView.options.minutes = document.getElementById('minutesInput').value;

  ipaView.chart = new ipa.Chart(ipaView.options);
  ipaView.chart.requestStats(ipaView.updateChart);
}

ipaView.updateChart = function() {
  var chart = ipaView.chart;
  chart.drawStatus(ipaView.clearElement(document.getElementById('status')));
  chart.drawWindSummary(ipaView.clearElement(document.getElementById('summary')));
  chart.drawTimeSeries(ipaView.clearElement(document.getElementById('time')));
  chart.drawHistogram(ipaView.clearElement(document.getElementById('hist')));
  chart.drawTempHum(ipaView.clearElement(document.getElementById('tempHum')));
  chart.drawDoor(ipaView.clearElement(document.getElementById('door')));
  chart.drawPilots(ipaView.clearElement(document.getElementById('pilots')));
  chart.drawLag(ipaView.clearElement(document.getElementById('lag')));
  chart.drawTemperature(ipaView.clearElement(document.getElementById('temp')));
  chart.drawSignalStrength(ipaView.clearElement(document.getElementById('signalStrength')));
  chart.drawNetworkType(ipaView.clearElement(document.getElementById('nwType')));
  chart.drawTransferVolume(ipaView.clearElement(document.getElementById('transferVolume')));
}

ipaView.handleKeyPress = function(event) {
  if (event.keyCode == 13) {
    ipaView.requestStats();
  }
}

ipaView.expand = function() {
  ipaView.options.timeSeriesPoints = 123456;  // effectively disable downsampling
  var charts = document.getElementsByClassName('expand');
  for (var i = 0; i < charts.length; ++i) {
    charts[i].style.width = '100%';
  }
  ipaView.updateChart();
}

google.setOnLoadCallback(ipaView.requestStats);

</script>

</head>
<body>
<div id="status"></div>
<div id="minutes" align="center">
  Minutes:
  <input id="minutesInput" type="text" maxlength="4" size="4"
      onkeypress="ipaView.handleKeyPress(event)" value="60" />
  <button onclick="ipaView.requestStats()">Load</button>
</div>
<div id="summary" align="center"></div>
<div id="time" class="chart expand"></div>
<div id="hist" class="chart expand"></div>
<h3>Pilot count</h3>
<div id="pilots" class="timeline expand"></div>
<h3>Weather</h3>
<div id="tempHum" class="timeline expand"></div>
<h3>Shed door</h3>
<div id="door" class="timeline expand"></div>
<h3>System status (last 24h)</h3>
<div id="lag" class="chart expand"></div>
<div id="temp" class="chart expand"></div>
<div id="signalStrength" class="chart expand"></div>
<div id="transferVolume" class="chart expand"></div>
<div id="nwType" class="chart expand"></div>
<div id="expand" align="center">
  <button onclick="ipaView.expand()">Max Width</button>
</div>

</body>
</html>
