div#idIpaPeriodSelector {
  width: 25ch;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

table.ipaSummary {
  border: 1px solid black;
  border-spacing: 0;
  width: 25ch;
  margin-left: auto;
  margin-right: auto;
}

div.ipaView table.ipaSummary td {
  padding-left: 5px;
  padding-right: 5px;
}

td.ipaAvgLabel, td.ipaAvgValue {
  background: #acf;
}

td.ipaMaxLabel, td.ipaMaxValue {
  background: #fcc;
}

td.ipaMaxtsLabel, td.ipaMaxtsValue {
  background: #ffc;
}

td.ipaFromLabel, td.ipaFromValue {
  background: #ca5;
}

td.ipaToLabel, td.ipaToValue {
  background: #bf9;
}

div#minutes, div#summary, div#expand, div#status {
  width: 400px;
}

div.chart {
  width: 400px;
}

div.timeline {
  width: 400px;
  max-height: 500px;
}

div#minutes {
  margin-bottom: 10px;
}

div.ipaNoData {
  background: #ddd;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  margin: 5px;
}

div.ipaStaleData {
  background: #fdd;
  text-align: center;
  margin: 5px;
}

div.ipaStatus {
  background: #fdd;
  text-align: center;
  margin: 5px;
}

div.ipaStatusOk {
  background: #dfd;
}

div.ipaStatusHide {
  display: none;
}

div#idIpaSpinnerContainer {
  position: relative;
}
