table.summary {
	border: 1px solid black;
    border-spacing: 0;
}

table.summary td {
	padding-left: 5px;
	padding-right: 5px;
}

td.avg, td.avgValue {
	background: #acf;
}

td.max, td.maxValue {
	background: #fcc;
}

td.maxts, td.maxtsValue {
	background: #ffc;
}

td.from, td.fromValue {
	background: #ca5;
}

td.to, td.toValue {
	background: #bf9;
}

div#minutes, div#summary, div#expand {
	width: 300px;
}

div.chart {
	width: 300px;
	height: 300px;
}

div.timeline {
	width: 300px;
}

div#minutes {
	margin-bottom: 10px;
}