div#periodSelector {
    width: 25ch;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

table.ipaSummary {
    border: 1px solid black;
    border-spacing: 0;
    width: 25ch;
    margin-left: auto;
    margin-right: auto;
}

table.summary td {
  padding-left: 5px;
  padding-right: 5px;
}

td.avg, td.avgValue {
  background: #acf;
}

td.max, td.maxValue {
  background: #fcc;
}

td.maxts, td.maxtsValue {
  background: #ffc;
}

td.from, td.fromValue {
  background: #ca5;
}

td.to, td.toValue {
  background: #bf9;
}

div#expand, div#status {
  width: 400px;
}

div.chart {
  width: 400px;
}

div.timeline {
  width: 400px;
  max-height: 500px;
}

div#minutes {
  margin-bottom: 10px;
}

div.ipaNoData {
  background: #ddd;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  margin: 5px;
}

div.ipaStaleData {
  background: #fdd;
  text-align: center;
  margin: 5px;
}

div.ipaStatus {
  background: #fdd;
  text-align: center;
  margin: 5px;
}

div.ipaStatusOk {
  background: #dfd;
}

div.ipaStatusHide {
  display: none;
}

div#idIpaSpinnerContainer {
  position: relative;
}
